@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-200;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0.4em;
  padding: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
}
